<menu class="principal">
  <ul class="list-menu">
    <li class="item-menu">HOME</li>
    <li class="item-menu">Sobre</li>
    <li class="item-menu">Equipe</li>
    <li class="item-menu">Contato</li>
  </ul>
</menu>
<main class="home">
  <div class="title-home">
    <h1><span class="gold">Dom</span><br>Relógios</h1>
    <p><i>Relógios & Acessórios</i></p>
  </div>
</main>
<section class="about">
  <div class="content-about">
    <div class="cotainer-about">
      <img src="" alt="" class="img-about">
      <p>Enviamos para <span class="gold">todo</span> Brasil!</p>
    </div>
    <div class="cotainer-about">
      <img src="" alt="" class="img-about">
      <p><span class="gold">Melhores</span> preços!</p>
    </div>
    <div class="cotainer-about">
      <img src="" alt="" class="img-about">
      <p>Enviamos em até <span class="gold">48h</span> após o pagamento.</p>
    </div>
  </div>
</section>
<section class="team">
  <h1>Nossa <span class="gold">equipe</span></h1>
  <div class="content-team">
    <div class="card-team">
      <img src="" alt="" class="img-team">
      <h3 class="name-card">Fulano</h3>
    </div>

    <div class="card-team">
      <img src="" alt="" class="img-team">
      <h3 class="name-card">Fulano 2</h3>
    </div>

    <div class="card-team">
      <img src="" alt="" class="img-team">
      <h3 class="name-card">Fulano 3</h3>
    </div>
  </div>
</section>
<section class="contact">
  <div class="content-contact">
    <h2>Entraremos em contato com você</h2>
    <form action="https://formsubmit.co/otavioafonso.elias@gmail.com" method="POST">
      <label for="name">Nome:</label>
      <input type="text" name="name" required id="name" placeholder="Seu Nome..">
      <label for="email">E-mail</label>
      <input type="email" name="email" required id="email" placeholder="Seu E-mail..">
      <input type="hidden" name="_captcha" value="false">
      <button type="submit">Enviar</button>
    </form>
  </div>
</section>
<footer>
  <h4>@Otavio.eliass</h4>
</footer>
